html{
    scroll-behavior: smooth;
}
body{
    max-width: 1440px;
    background-color: #9da16b;
    font-family: KulimPark, Verdana, Geneva, Tahoma, sans-serif;
    margin: 0 auto;
}
h1{
    margin: 0 auto;
    max-width: 1440px;
    background-color: #123918;
    color: #edf6f6;
    text-align: center;
    padding: 30px;
}
#container{
background-color: #123918;
padding-left: 30px;
padding-right: 30px;
padding-bottom: 30px;
padding-top: 0px;
margin: auto;
}
img{
    width: 564px;
    height: 380px;
    filter: drop-shadow(2px 2px #6b73b6);
}
.hersheypark,.gettysburg,.capitol,.raystown,.railroad,.central,.pinegrove,.worldsend,.lewisburg,.pagrandcanyon{
    background-color: #edf6f6;
    max-width: 1212px;
    margin-bottom: 18px;
    padding: 18px;
    filter: drop-shadow(0.5px 5px #eecf62);
    max-height: 500px;
    display: flex;
}
.hersheybody,.gettybody,.capitolbody,.raysbody,.railroadbody,.centralbody,.pinebody,.worldsbody,.lewisbody,.pagcbody{
    color: #123918;
    max-width: 465px;
    padding-left: 50px;
    font-size: 24px;
    vertical-align: bottom;
    float: right;
}
h2{
    color: #123918;
    max-width: 465px;
    padding-left: auto;
    font-size: 28px;
    vertical-align: auto;
}
.equal-columns > div{
    flex-basis: 100%;
}
a{
    color: #6b73b6;
    max-width: 300px;
    margin: 0 auto;
}
.col1{
    padding-left: 59px;
    padding-right: 59px;
    padding-bottom: 59px;
}
@font-face {
    font-family: KulimPark;
    src: url(/fonts/KulimPark-Regular.ttf);
    font-style: normal;
}