@font-face {
    font-family: All Round Gothic Bold;
    src: url(/fonts/FONTSPRING-DEMO-ALLROUNDGOTHIC-BOLD.OTF);
}
@font-face {
  font-family: All Round Gothic Book;
  src: url(/fonts/FONTSPRING-DEMO-ALLROUNDGOTHIC-BOOK.OTF);
}

h1{
    font-family: All Round Gothic Bold;
    font-size: 71.66px;
    color: #112932;
}
h2{
  font-family: All Round Gothic Bold;
  font-size: 59.72px;
  color: #112932;
}
h3{
  font-family: sans-serif;
  font-size: 32px;
  font-display: bold;
  color: #112932;
}
h4{
  font-family: All Round Gothic Bold;
  font-size: 28.8px;
  color: #112932;
  margin: 0 auto;
}
h5{
  font-family: All Round Gothic Book;
  font-size: 24px;
  font-weight: normal;
  margin: 0 auto;
  color: #112932;
}
p{
  font-family: sans-serif;
  font-size: 24px;
  color: #112932;
}

.topnav {
    background-image: url(/images/wavyness-color.jpg);
    overflow: hidden;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: right;
    display: block;
    color: #112932;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 24px;
    font-family: All Round Gothic Bold;
  }

  
  /* Change the color of links on hover */
  .topnav a:hover {
    text-decoration: underline;
  }
  
  /* Add an active class to highlight the current page */
  .topnav a.active {
    text-decoration: underline;
  }
  
  /* Hide the link that should open and close the topnav on small screens */
  .topnav .icon {
    display: none;
  }

  .topnav a.split {
    float: left;
  }

  @media screen and (max-width: 767px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }

  @media screen and (max-width: 767px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }
  }

button{
  border-radius: 10%;
  background-image: url(/images/wavyness-color.jpg);
  border: none;
  font-family: All Round Gothic Bold;
  font-size: 24px;
  color: #112932;
  max-width: 100%;
  height: auto;
}
 
 button:hover{
  color: white;
  border: 2px solid #112932;
 }
  img{
    max-width: 100%;
    height: auto;
  }
  img.hero{
    opacity: .2;
  }

  div.hero{
    position: relative;
    text-align: center;
    color: #112932;
  }
  div.centered {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: All Round Gothic Bold;
    font-size: 71.66px;
  }
  div.sub-centered{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: All Round Gothic Book;
    font-size: 59.72px;
  }
  div.overlays{
    position: relative;
  }
  div.about{
    position: absolute;
    top: 70%;
    max-width: 554px;
    margin-left: 20px;
  }
  img.foody{
    position: absolute;
    top: -20%;
    left: 68.5%;
}
img.fourcups{
  position: relative;
  top: 150%;
  left:50%
}

div.leftcolumn

div.menu{
  margin-left: 20px;
}
div.cards{
  display: flex;
  margin: auto;
  width: 70%;
}
div.card p {
  margin: -20px;
}
.card1,.card2,.card3,.card4{
  max-width: 273px;
  background-image: url(/images/wavyness-color.jpg);
  text-align: center;
  margin-right: 40px;
  padding-bottom: 15px;
  position: relative;
}

img.espresso{
  margin: 25px;
}

div.schedule{
  margin-left: 20px;
  margin-bottom: 100px
}

footer{
  display: flex;
  margin: auto;
  width: 100%;
  background-image: url(/images/wavyness-color.jpg);
  justify-content: space-evenly;
}
ul{
  list-style-type: none;
}
li{
  font-family: sans-serif;
  font-size: 24px;
  margin: 10px;
}
footer h4{
  padding: 20px;
}

div.leftcolumn{
  max-width: 689px;
  margin: 20px;
  padding: 20px;
}

.about-container{
  display: flex;
}
div.about-rightcolumn{
  max-width: 730px;
  position: relative;
}
div.about-leftcolumn{
  width: 45%;
  padding-right: 100px;
}
img.steamy{
  position:absolute;
  top: 20%;
  right: 5%;
}
img.shop{
  position: relative;
  top: -20%;
  right: -5%;
}
img.wall{
  padding-bottom: 50px;
}
img.couple{
  padding-top: 50px;
}
img.menucover{
  opacity: .2;
}
.schedule-container{
  display: flex;
}
div.schedule-leftcolumn{
  width: 45%;
  margin: 20px;
}
div.schedule-rightcolumn{
  width: 45%;
  margin: 20px;
  padding-top: 185px;
}
.contact-container{
  width: 100%;
}
.contact-left,.contact-middle,.contact-right{
  display: inline-block;
  padding: 50px 15px 50px 15px;
  justify-content: space-between;
  width: 30%;
}

.contact-columns{
  margin: auto;
  width: fit-content;
}

.menu-container{
  display: flex;
}
.menu-leftcolumn,.menu-rightcolumn{
  width: 50%;
}
.menu-leftcolumn,.menu-rightcolumn ul{
  font-size: 36px;
  font-family: All Round Gothic Bold;
  color: #112932;
}

.signature{
  display: flex;
}
.signature ul{
  width: 650px;
  
}
.prices {
  margin: auto;
  position: relative;
  padding-top: 45px;
}

@media screen and (max-width: 1200px) {
  div.centered{
    font-size: 55px;
  }
  div.sub-centered{
    font-size: 50px;
  }
 }

@media screen and (max-width:767px) {
  div.centered{
    font-size: 30px;
  }
  div.sub-centered{
    font-size: 30px;
  }
  div.overlays{
    display: none;
  }
  div.container{
    display: block;
  }
  div.about{
    position: relative;
  }
  h1{
    font-size: 36px;
  }
  h4{
    font-size: 24px;
  }
  p{
    font-size: 16px;
  }
  div.cards{
    display: block;
    width: 100%;
  }
  footer{
    display: inline-flexbox;
    li {
      font-size: 16px;
    }
  }
  div.about-container{
    display: block;
    width: 100%;
  }
  div.about-leftcolumn{
    width: 100%;
    margin: 20px;
    padding: 0px;
  }
  div.about-rightcolumn img{
    max-width: 100%;
    height: auto;
  }
  div.contact-columns{
    display: block;
  }
div.schedule-container{
  display: block;
  margin: auto;
}
div.schedule-rightcolumn{
  padding-top: 0px;
}
.menu-container{
  display: block;
}
.prices{
  margin: auto;
}
}

@media screen and (max-width:747px) {
  div.centered{
    font-size: 24px;
  }
  div.sub-centered{
    font-size: 20px;
    width: 100%;
  }
}